// ANIMATION HEADER

@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(-15rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(15rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes appearLine {
    0% {
        opacity: 0;
        transform: translate(0);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

// ANIMATION MODAL WINDOW

@keyframes modalOpen{
    from{opacity: 0}
    to {opacity: 1}
}