
.icon-up-open:before { content: '\e801'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */